.line-wrap {
  margin: 12px 20px;
  width: 18px;
  height: 12px;

  .transition(all);
  .transition-duration(300ms);

  .line {
    width: 18px;
    height: 2px;
    background: @m-white;

    .transition(all);
    .transition-duration(300ms);

    &.top, &.center {
      margin: 0 0 3px 0;
    }
  }
}

&.open {
  .line-wrap {
    .rotate(180deg);

    .line {
      &.top {
        width: 12px;
        transform: translateX(8px) translateY(1px) rotate(45deg);
        -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
      }

      &.bottom {
        width: 12px;
        transform: translateX(8px) translateY(-1px) rotate(-45deg);
        -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
      }
    }
  }
}
