.ptn-card {
  background: @ptn-util__color_dark;
  box-shadow: @ptn-util__box-shadow_1;
}

.ptn-card__header {

}

.ptn-card__body {
  padding: 18px 24px;

  @media (min-width: @ptn-util__screen_md-min) and (max-width: @ptn-util__screen_md-max) {
    padding: 15px 18px;
  }

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
    padding: 12px;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 6px;
  }
}

.ptn-card__footer {
  border-top: 1px solid @ptn-util__color_darker;
}
