.ptn-card {
  position: relative;
  background: @ptn-util__color_dark;
  box-shadow: @ptn-util__box-shadow_1;

  .ptn-util__transition;

  + .ptn-card {
    margin: 30px 0 0;

    @media (min-width: @ptn-util__screen_md-min) and (max-width: @ptn-util__screen_md-max) {
      margin: 24px 0 0;
    }

    @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
      margin: 18px 0 0;
    }

    @media (max-width: @ptn-util__screen_xs-max) {
      margin: 12px 0 0;
    }
  }
}

.ptn-card_highlighted {
  &:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    border-style: solid;
    border-width: 12px;
    border-color: @ptn-util__color_red @ptn-util__color_red transparent transparent;

    .ptn-util__transition;

    @media (max-width: @ptn-util__screen_xs-max) {
      top: -1px;
      right: -1px;
      border-width: 9px;
    }
  }
}

.ptn-card__header {
  position: relative;
  height: 60px;
  padding: 0 24px;
  border-bottom: 1px solid @ptn-util__color_darker;
  box-sizing: content-box;

  .ptn__flex-container_horizontal(start, center);
  .ptn-util__transition;

  &.ptn-util__trigger_on {
    .ptn-card__header-subheader-trigger {
      .ptn-util__transform_rotate(180deg);
    }
  }

  @media (min-width: @ptn-util__screen_md-min) and (max-width: @ptn-util__screen_md-max) {
    padding: 0 18px;
    height: 54px;
  }

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
    padding: 0 12px;
    height: 54px;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 0 6px;
    height: 42px;
  }
}

.ptn-card__title {
  font-size: 1.8rem;

  .ptn-util__flex-grow(1);
  .ptn__flex-container_horizontal(start, center);
  .ptn-util__transition;

  > a {
    .ptn__flex-container_horizontal(start, center);
  }

  .zmdi {
    width: 24px;
    text-align: center;
    font-size: 2.1rem;

    + span {
      margin: 0 0 0 9px;

      .ptn-util__transition;

      @media (max-width: @ptn-util__screen_sm-max) {
        margin: 0 0 0 6px;
      }
    }

    @media (max-width: @ptn-util__screen_xs-max) {
      font-size: 1.8rem;
    }
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    font-size: 1.5rem;

    .ptn__flex-container_horizontal(center, center);
  }
}

.ptn-card__title-text_highlighted {
  color: @ptn-util__color_red;
}

.ptn-card__data {
  .ptn__flex-container_horizontal(center, center);
}

.ptn-card__datum {
  margin: 0 24px 0 0;
  font-size: 1.7rem;

  .ptn__flex-container_horizontal(start, center);
  .ptn-util__transition;

  &:last-child {
    margin: 0;
  }

  > .zmdi {
    width: 24px;
    text-align: center;
    font-size: 2rem;

    + span {
      margin: 0 0 0 9px;

      .ptn-util__transition;

      @media (max-width: @ptn-util__screen_sm-max) {
        margin: 0 0 0 6px;
      }
    }

    @media (max-width: @ptn-util__screen_xs-max) {
      font-size: 1.8rem;
    }
  }

  @media (min-width: @ptn-util__screen_md-min) and (max-width: @ptn-util__screen_md-max) {
    margin: 0 24px 0 0;
  }

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
    margin: 0 18px 0 0;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    margin: 0 12px 0 0;
    min-width: 72px;
    font-size: 1.5rem;

    .ptn__flex-container_horizontal(center, center);
  }
}

.ptn-card__header-subheader-trigger {
  position: absolute;
  top: 0;
  right: 24px;
  width: 18px;
  line-height: 60px;
  text-align: center;
  font-size: 2.4rem;

  .ptn-util__transition;

  @media (min-width: @ptn-util__screen_md-min) and (max-width: @ptn-util__screen_md-max) {
    right: 18px;
    line-height: 54px;
  }

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
    right: 12px;
    line-height: 54px;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    right: 6px;
    line-height: 42px;
    font-size: 2.1rem;
  }
}

.ptn-card__subheader {
  overflow: hidden;
  padding: 0 24px;
  height: 0;
  border-bottom: 1px solid @ptn-util__color_darker;
  font-size: 1.5rem;
  background: @ptn-util__color_darker;
  transform-origin: top;

  .ptn__flex-container_horizontal(start, center);
  .ptn-util__transition;
  //.ptn-util__transform_scale(1, 0);

  &.ptn-util__widget_on {
    height: 42px;

    //.ptn-util__transform_scale(1);

    @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
      height: 36px;
    }

    @media (max-width: @ptn-util__screen_xs-max) {
      height: 30px;
    }
  }

  .ptn-card__datum {
    font-size: 1.5rem;

    > .zmdi {
      font-size: 1.8rem;

      @media (max-width: @ptn-util__screen_xs-max) {
        font-size: 1.7rem;
      }
    }

    @media (max-width: @ptn-util__screen_xs-max) {
      font-size: 1.4rem;
    }
  }

  @media (min-width: @ptn-util__screen_md-min) and (max-width: @ptn-util__screen_md-max) {
    padding: 0 18px;
  }

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
    padding: 0 12px;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 0 6px;

    .ptn__flex-container_horizontal(center, center);
  }
}

.ptn-card__body {
  padding: 18px 24px;

  .ptn-util__transition;

  @media (min-width: @ptn-util__screen_md-min) and (max-width: @ptn-util__screen_md-max) {
    padding: 15px 18px;
  }

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
    padding: 12px;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 6px;
  }
}

.ptn-card__footer {
  overflow: hidden;
  padding: 0 24px;
  height: 90px;

  .ptn-util__transition;

  border-top: 1px solid @ptn-util__color_darker;

  @media (min-width: @ptn-util__screen_md-min) and (max-width: @ptn-util__screen_md-max) {
    padding: 0 18px;
    height: 84px;
  }

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
    padding: 0 12px;
    height: 78px;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 0 6px;
    height: 72px;
  }
}

@media (min-width: @ptn-util__screen_lg-min) {
  .ptn-body_aside-on {
    .ptn-card {
      + .ptn-card {
        margin: 24px 0 0;
      }
    }

    .ptn-card__header {
      padding: 0 18px;
    }

    .ptn-card__subheader {
      padding: 0 18px;
    }

    .ptn-card__body {
      padding: 15px 18px;
    }

    .ptn-card__header-subheader-trigger {
      right: 18px;
    }
  }
}
