.ptn-pagination {
  height: 100%;

  .ptn__flex-container_horizontal(center, center);
}

.ptn-pagination__list {
  .ptn__flex-container_horizontal(center, center);
}

.ptn-pagination__list-item {
  margin: 0 3px;
}

.ptn-pagination__list-item_active {
  > .ptn-pagination__list-item-link {
    color: @ptn-util__color_dark;
    background: @ptn-util__color_lighter;
  }
}

.ptn-pagination__list-item_orbit-1 {
  @media (max-width: 372px) {
    display: none;
  }
}

.ptn-pagination__list-item_orbit-2 {
  @media (max-width: 462px) {
    display: none;
  }
}

.ptn-pagination__list-item_orbit-3 {
  @media (max-width: 558px) {
    display: none;
  }
}

.ptn-pagination__list-item_orbit-4 {
  @media (max-width: 660px) {
    display: none;
  }
}

.ptn-pagination__list-item_orbit-5 {
  @media (max-width: 990px) {
    display: none;
  }
}

.ptn-pagination__list-item_orbit-7 {
  @media (max-width: 1182px) {
    display: none;
  }
}

.ptn-pagination__list-item_orbit-9 {
  @media (max-width: 1386px) {
    display: none;
  }
}

.ptn-pagination__list-item-link {
  display: block;
  width: 42px;
  height: 42px;
  line-height:42px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  color: @ptn-util__color_lighter;
  background: @ptn-util__color_lighter_transparent;

  .ptn-util__hover_text(@ptn-util__color_dark, @ptn-util__color_lighter);

  > .zmdi {
    line-height: inherit;
    font-size: 1.8rem;
  }
}

@media (min-width: @ptn-util__screen_lg-min) {
  .ptn-body_aside-on {
    .ptn-pagination__list-item_orbit-7 {
      @media (max-width: 1494px) {
        display: none;
      }
    }

    .ptn-pagination__list-item_orbit-9 {
      @media (max-width: 1590px) {
        display: none;
      }
    }
  }
}
