.ptn-photos {

}

.ptn-photo {
  overflow: hidden;
  display: block;
  box-shadow: @ptn-util__box-shadow_1;
}

.ptn-photo__image {
  display: block;
  width: 100%;
  cursor: pointer;

  .ptn-util__transition(all, @ptn-util__duration_fastest);

  &:hover {
    .ptn-util__transform_scale_rotate(1.2, 5deg);
  }
}
