.ptn-photos {

}

.ptn-photo {
  position: relative;
  box-shadow: @ptn-util__box-shadow_1;
}

.ptn-photo_highlighted {
  &:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    border-style: solid;
    border-width: 12px;
    border-color: @ptn-util__color_red @ptn-util__color_red transparent transparent;

    .ptn-util__transition;

    @media (max-width: @ptn-util__screen_xs-max) {
      top: -1px;
      right: -1px;
      border-width: 9px;
    }
  }
}

.ptn-photo__link {
  overflow: hidden;
  display: block;
}

.ptn-photo__image {
  display: block;
  width: 100%;
  cursor: pointer;

  .ptn-util__transition(all, @ptn-util__duration_fastest);

  &:hover {
    .ptn-util__transform_scale_rotate(1.2, 5deg);
  }
}

@media (min-width: @ptn-util__screen_lg-min) {
  .ptn-body_aside-on {
    .ptn-photo_highlighted {
      &:after {
        top: -1px;
        right: -1px;
        border-width: 9px;
      }
    }
  }
}
