.ptn-photos {

}

.ptn-photo {
  position: relative;
  box-shadow: @ptn-util__box-shadow_2;

  &:hover {
    > .ptn-photo__cover {
      .ptn-util__opacity(1);
      .ptn-util__transform_scale(1, 1);
    }
  }
}

.ptn-photo_highlighted {
  &:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    border-style: solid;
    border-width: 12px;
    border-color: @ptn-util__color_red @ptn-util__color_red transparent transparent;

    .ptn-util__transition;

    @media (max-width: @ptn-util__screen_xs-max) {
      top: -1px;
      right: -1px;
      border-width: 9px;
    }
  }
}

.ptn-photo_highlighted_small {
  &:after {
    @media (max-width: @ptn-util__screen_md-max) {
      border-width: 9px;
    }

    @media (max-width: @ptn-util__screen_sm-max) {
      border-width: 6px;
    }
  }
}

.ptn-photo__link {
  display: block;
  overflow: hidden;
}

.ptn-photo__image {
  display: block;
  width: 100%;

  .ptn-util__transition(all, @ptn-util__duration_fastest);

  &:hover {
    .ptn-util__transform_scale_rotate(1.2, 5deg);
  }
}

.ptn-photo__cover {
  position: absolute;
  bottom: 0;
  padding: 0 12px;
  width: 100%;
  height: 20%;
  font-size: 1.5rem;
  color: @ptn-util__color_lightest;
  background: @ptn-util__color_dark_transparent;
  transform-origin: bottom;

  .ptn__flex-container_horizontal(start, center);
  .ptn-util__transition(all, @ptn-util__duration_fastest);
  .ptn-util__opacity(0);
  .ptn-util__transform_scale(1, 0);
}

.ptn-photo__cover_small {
  @media (max-width: @ptn-util__screen_md-max) {
    font-size: 1.4rem;
  }

  @media (max-width: @ptn-util__screen_sm-max) {
    padding: 0 9px;
    font-size: 1.3rem;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 0 6px;
    font-size: 1.2rem;
  }
}

.ptn-photo__cover-link {
  .ptn-util__text-overflow_truncate;
}

.ptn-photo__caption {
  padding: 4px 0;
}

.ptn-photo__caption-title {
  padding: 0 12px;
  height: 30px;
  font-size: 1.6rem;
  color: @ptn-util__color_lightest;

  .ptn__flex-container_horizontal(start, center);
  .ptn-util__transition;

  > a {
    .ptn-util__text-overflow_truncate;
    .ptn-util__transition;

    &:hover {
      color: @ptn-util__color_lightest;
    }
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 0 6px;
    height: 24px;
    font-size: 1.5rem;

    .ptn__flex-container_horizontal(center, center);
  }
}

.ptn-photo__caption-data {
  overflow: hidden;
  margin: 0 12px;
  height: 24px;

  .ptn__flex-container_horizontal(start, center);
  .ptn-util__transition;

  @media (max-width: @ptn-util__screen_xs-max) {
    margin: 0 6px;

    .ptn__flex-container_horizontal(center, center);
  }
}

.ptn-photo__caption-datum {
  margin: 0 18px 0 0;
  font-size: 1.5rem;
  color: @ptn-util__color_light;

  .ptn__flex-container_horizontal(start, center);
  .ptn-util__transition;

  &:last-child {
    margin: 0;
  }

  > .zmdi {
    width: 18px;
    text-align: center;
    font-size: 1.8rem;

    .ptn-util__transition;

    + span {
      margin: 0 0 0 6px;
    }

    @media (max-width: @ptn-util__screen_xs-max) {
      font-size: 1.7rem;
    }
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    font-size: 1.4rem;
  }
}

.ptn-photo__text_highlighted {
  color: @ptn-util__color_red;
}

@media (min-width: @ptn-util__screen_lg-min) {
  .ptn-body_aside-on {
    .ptn-photo_highlighted {
      &:after {
        top: -1px;
        right: -1px;
        border-width: 9px;
      }
    }

    .ptn-photo__caption-title {
      padding: 0 9px;
      height: 24px;
      font-size: 1.5rem;
    }

    .ptn-photo__caption-data {
      margin: 0 9px;
    }

    .ptn-photo__caption-datum {
      font-size: 1.4rem;

      > .zmdi {
        font-size: 1.7rem;
      }
    }
  }
}
