# Environments #
################
.env
.vagrant

# Package managers #
####################
vendor
node_modules

# Credentials #
###############
#config/database.php
#config/filesystems.php

# Logs #
########
*.log

# IDE #
#######
.idea

# OS #
######
.DS_Store
