# Environments #
################
.vagrant

# Package managers #
####################
/vendor
node_modules

# Logs #
########
*.log

# OS generated #
################
.DS_Store

# IDE #
#######
.idea
