<footer id="footer" class="ptn-footer">
    <div>
        <p class="ptn-footer__copyright">Copyright &copy; {{ 'now' | date('Y') }} <i>{{ app.name }}</i></p>
    </div>
    <div class="ptn-footer__menu-container">
        <ul class="ptn-footer__menu">
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Reports</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </div>
</footer>
