<aside id="aside" class="ptn-aside">
    <div class="ptn-aside__account">
        <div class="ptn-aside__account-profile-container">
            <div class="ptn-aside__account-profile-picture">
                <img src="{{ 'assets/images/avatars/5.jpg' | theme }}" alt="">
            </div>
            <div id="account-menu-trigger" class="ptn-aside__account-menu-trigger">
                <span class="ptn-aside__account-menu-trigger-text">Malinda Hollaway</span>
                <i class="ptn-aside__account-menu-trigger-icon zmdi zmdi-caret-down"></i>
            </div>
        </div>
        <div id="account-menu" class="ptn-aside__account-menu-container ptn-list">
            <div class="ptn-list__body">
                <ul class="ptn-list__list">
                    <li class="ptn-list__list-item">
                        <a class="ptn-list__list-item-link" href="">
                            <div class="ptn-list__list-item-container">
                                <div class="ptn-list__list-item-icon-container">
                                    <i class="ptn-list__list-item-icon zmdi zmdi-account"></i>
                                </div>
                                <div class="ptn-list__list-item-text-container">
                                    <p class="ptn-list__list-item-text">View profile</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ptn-list__list-item">
                        <a class="ptn-list__list-item-link" href="">
                            <div class="ptn-list__list-item-container">
                                <div class="ptn-list__list-item-icon-container">
                                    <i class="ptn-list__list-item-icon zmdi zmdi-input-antenna"></i>
                                </div>
                                <div class="ptn-list__list-item-text-container">
                                    <p class="ptn-list__list-item-text">Privacy settings</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ptn-list__list-item">
                        <a class="ptn-list__list-item-link" href="">
                            <div class="ptn-list__list-item-container">
                                <div class="ptn-list__list-item-icon-container">
                                    <i class="ptn-list__list-item-icon zmdi zmdi-settings"></i>
                                </div>
                                <div class="ptn-list__list-item-text-container">
                                    <p class="ptn-list__list-item-text">Settings</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="ptn-list__list-item">
                        <a class="ptn-list__list-item-link" href="">
                            <div class="ptn-list__list-item-container">
                                <div class="ptn-list__list-item-icon-container">
                                    <i class="ptn-list__list-item-icon zmdi zmdi-time-restore"></i>
                                </div>
                                <div class="ptn-list__list-item-text-container">
                                    <p class="ptn-list__list-item-text">Logout</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ptn-aside__menu-container ptn-list">
        <div class="ptn-list__body">
            <ul class="ptn-list__list">
                <li class="ptn-list__list-item{% if this.page.id == 'home' %} ptn-list__list-item_active{% endif %}">
                    <a class="ptn-list__list-item-link" href="{{ '/' | app }}">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-home"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Home</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link ptn-list__list-item-link_sublist" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-view-compact"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Headers</p>
                            </div>
                        </div>
                    </a>
                    <div class="ptn-list__list-item-sublist ptn-list">
                        <div class="ptn-list__body">
                            <ul class="ptn-list__list">
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Textual menu</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Image logo</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Mainmenu on top</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-format-underlined"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Typography</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link ptn-list__list-item-link_sublist" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-widgets"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Widgets</p>
                            </div>
                        </div>
                    </a>
                    <div class="ptn-list__list-item-sublist ptn-list">
                        <div class="ptn-list__body">
                            <ul class="ptn-list__list">
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Widget set 1</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Widget set 2</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link ptn-list__list-item-link_sublist" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-view-list"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Tables</p>
                            </div>
                        </div>
                    </a>
                    <div class="ptn-list__list-item-sublist ptn-list">
                        <div class="ptn-list__body">
                            <ul class="ptn-list__list">
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Table set 1</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Table set 2</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Table set 3</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-collection-text"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Forms</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-swap-alt"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">User interface</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link ptn-list__list-item-link_sublist" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-trending-up"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Charts</p>
                            </div>
                        </div>
                    </a>
                    <div class="ptn-list__list-item-sublist ptn-list">
                        <div class="ptn-list__body">
                            <ul class="ptn-list__list">
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Chart set 1</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Chart set 2</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-calendar"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Calendar</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-image"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Photo gallery</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-layers"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Generic classes</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-collection-item"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Sample pages</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="ptn-list__list-item">
                    <a class="ptn-list__list-item-link ptn-list__list-item-link_sublist" href="">
                        <div class="ptn-list__list-item-container">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-menu"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Deep menu</p>
                            </div>
                        </div>
                    </a>
                    <div class="ptn-list__list-item-sublist ptn-list">
                        <div class="ptn-list__body">
                            <ul class="ptn-list__list">
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link ptn-list__list-item-link_sublist" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Level 2</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="ptn-list__list-item-sublist ptn-list">
                                        <div class="ptn-list__body">
                                            <ul class="ptn-list__list">
                                                <li class="ptn-list__list-item">
                                                    <a class="ptn-list__list-item-link" href="">
                                                        <div class="ptn-list__list-item-container">
                                                            <div class="ptn-list__list-item-text-container">
                                                                <p class="ptn-list__list-item-text">Level 3</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="ptn-list__list-item">
                                                    <a class="ptn-list__list-item-link" href="">
                                                        <div class="ptn-list__list-item-container">
                                                            <div class="ptn-list__list-item-text-container">
                                                                <p class="ptn-list__list-item-text">Level 3</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="ptn-list__list-item">
                                                    <a class="ptn-list__list-item-link" href="">
                                                        <div class="ptn-list__list-item-container">
                                                            <div class="ptn-list__list-item-text-container">
                                                                <p class="ptn-list__list-item-text">Level 3</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link ptn-list__list-item-link_sublist" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Level 2</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="ptn-list__list-item-sublist ptn-list">
                                        <div class="ptn-list__body">
                                            <ul class="ptn-list__list">
                                                <li class="ptn-list__list-item">
                                                    <a class="ptn-list__list-item-link" href="">
                                                        <div class="ptn-list__list-item-container">
                                                            <div class="ptn-list__list-item-text-container">
                                                                <p class="ptn-list__list-item-text">Level 3</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="ptn-list__list-item ptn-list__list-item_active">
                                                    <a class="ptn-list__list-item-link" href="">
                                                        <div class="ptn-list__list-item-container">
                                                            <div class="ptn-list__list-item-text-container">
                                                                <p class="ptn-list__list-item-text">Level 3</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="ptn-list__list-item">
                                                    <a class="ptn-list__list-item-link" href="">
                                                        <div class="ptn-list__list-item-container">
                                                            <div class="ptn-list__list-item-text-container">
                                                                <p class="ptn-list__list-item-text">Level 3</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="ptn-list__list-item">
                                    <a class="ptn-list__list-item-link" href="">
                                        <div class="ptn-list__list-item-container">
                                            <div class="ptn-list__list-item-text-container">
                                                <p class="ptn-list__list-item-text">Level 2</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>
