<aside id="aside" class="ptn-aside">
    <div class="ptn-aside__account">
        <div class="ptn-aside__account-profile-container">
            <div class="ptn-aside__account-profile-picture">
                <img src="{{ 'assets/images/avatars/1.jpg' | theme }}" alt="">
            </div>
            <div id="account-menu-trigger" class="ptn-aside__account-menu-trigger">
                <span class="ptn-aside__account-menu-trigger-text">Malinda Hollaway</span>
                <i class="ptn-aside__account-menu-trigger-icon zmdi zmdi-caret-down"></i>
            </div>
        </div>
        <div id="account-menu" class="ptn-aside__account-menu-container ptn-list">
            <div class="ptn-list__body">
                <ul class="ptn-list__list">
                    <a class="ptn-list__list-item-link" href="">
                        <li class="ptn-list__list-item">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-account"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">View profile</p>
                            </div>
                        </li>
                    </a>
                    <a class="ptn-list__list-item-link" href="">
                        <li class="ptn-list__list-item">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-input-antenna"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Privacy settings</p>
                            </div>
                        </li>
                    </a>
                    <a class="ptn-list__list-item-link" href="">
                        <li class="ptn-list__list-item">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-settings"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Settings</p>
                            </div>
                        </li>
                    </a>
                    <a class="ptn-list__list-item-link" href="">
                        <li class="ptn-list__list-item">
                            <div class="ptn-list__list-item-icon-container">
                                <i class="ptn-list__list-item-icon zmdi zmdi-time-restore"></i>
                            </div>
                            <div class="ptn-list__list-item-text-container">
                                <p class="ptn-list__list-item-text">Logout</p>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>














    <ul class="main-menu">
        <li class="active">
            <a href=""><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-view-compact"></i> Headers</a>
            <ul>
                <li><a href="">Textual menu</a></li>
                <li><a href="">Image logo</a></li>
                <li><a href="">Mainmenu on top</a></li>
            </ul>
        </li>
        <li><a href=""><i class="zmdi zmdi-format-underlined"></i> Typography</a></li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-widgets"></i> Widgets</a>
            <ul>
                <li><a href="">Templates</a></li>
                <li><a href="">Widgets</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-view-list"></i> Tables</a>
            <ul>
                <li><a href="">Normal Tables</a></li>
                <li><a href="">Data Tables</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-collection-text"></i> Forms</a>
            <ul>
                <li><a href="">Basic Form Elements</a></li>
                <li><a href="">Form Components</a></li>
                <li><a href="">Form Examples</a></li>
                <li><a href="">Form Validation</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-swap-alt"></i>User Interface</a>
            <ul>
                <li><a href="">Colors</a></li>
                <li><a href="">Animations</a></li>
                <li><a href="">Box Shadow</a></li>
                <li><a href="">Buttons</a></li>
                <li><a href="">Icons</a></li>
                <li><a href="">Alerts</a></li>
                <li><a href="">Preloaders</a></li>
                <li><a href="">Notifications & Dialogs</a></li>
                <li><a href="">Media</a></li>
                <li><a href="">Components</a></li>
                <li><a href="">Others</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-trending-up"></i>Charts</a>
            <ul>
                <li><a href="">Flot Charts</a></li>
                <li><a href="">Other Charts</a></li>
            </ul>
        </li>
        <li><a href=""><i class="zmdi zmdi-calendar"></i> Calendar</a></li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-image"></i>Photo Gallery</a>
            <ul>
                <li><a href="">Default</a></li>
                <li><a href="">Timeline</a></li>
            </ul>
        </li>
        <li><a href=""><i class="zmdi zmdi-layers"></i> Generic Classes</a></li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-collection-item"></i> Sample Pages</a>
            <ul>
                <li><a href="">Profile</a></li>
                <li><a href="">List View</a></li>
                <li><a href="">Messages</a></li>
                <li><a href="">Pricing Table</a></li>
                <li><a href="">Contacts</a></li>
                <li><a href="">Wall</a></li>
                <li><a href="">Invoice</a></li>
                <li><a href="">Login and Sign Up</a></li>
                <li><a href="">Lockscreen</a></li>
                <li><a href="">Error 404</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href=""><i class="zmdi zmdi-menu"></i> 3 Level Menu</a>
            <ul>
                <li><a href="">Level 2 link</a></li>
                <li><a href="">Another level 2 Link</a></li>
                <li class="sub-menu">
                    <a href="">I have children too</a>
                    <ul>
                        <li><a href="">Level 3 link</a></li>
                        <li><a href="">Another Level 3 link</a></li>
                        <li><a href="">Third one</a></li>
                    </ul>
                </li>
                <li><a href="">One more 2</a></li>
            </ul>
        </li>
    </ul>
</aside>
