<section id="content" class="ptn-content">
    <div class="ptn-content__container container-fluid" style="background: pink">
        aaa
        <div class="row">
            <div class="col-xs-6" style="border: 1px solid red;">
                <div style="background: lightskyblue;">888</div>
            </div>
            <div class="col-xs-6" style="border: 1px solid red;">
                <div style="background: lightgreen">888</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
                bbb<br>
            </div>
        </div>
    </div>
</section>
