<footer id="footer" class="ptn-footer">
    <p class="ptn-footer__copyright">Copyright &copy; {{ 'now' | date('Y') }} <i>{{ app.name }}</i></p>
    <ul class="ptn-footer__menu">
        <li><a href="{{ '/' | app }}">Home</a></li>
        <li><a href="{{ 'tag' | page({tag: 'china'}) }}">China</a></li>
        <li><a href="{{ 'tag' | page({tag: 'pantyhose'}) }}">Pantyhose</a></li>
        <li><a href="{{ 'tag' | page({tag: 'opaque'}) }}">Opaque</a></li>
        <li><a href="{{ 'tag' | page({tag: 'suntan'}) }}">Suntan</a></li>
    </ul>
</footer>
