<header id="header" class="ptn-header">
    <div id="aside-trigger" class="ptn-header__aside-trigger">
        <div class="ptn-line-wrap ptn-line-wrap_converge">
            <div class="ptn-line-wrap__line ptn-line-wrap__line_top"></div>
            <div class="ptn-line-wrap__line ptn-line-wrap__line_center"></div>
            <div class="ptn-line-wrap__line ptn-line-wrap__line_bottom"></div>
        </div>
    </div>
    <div class="ptn-header__logo">
        <a class="ptn-header__logo-link" href="{{ '/' | app }}">
            <span>{{ app.name }}</span>
            <img src="{{ 'assets/images/logos/logo-lighter-96x96.png' | theme }}">
        </a>
    </div>
</header>
