<header id="header" class="ptn-header">
    <div id="aside-trigger" class="ptn-header__aside-trigger">
        <div class="ptn-line-wrap ptn-line-wrap_converge">
            <div class="ptn-line-wrap__line ptn-line-wrap__line_top"></div>
            <div class="ptn-line-wrap__line ptn-line-wrap__line_center"></div>
            <div class="ptn-line-wrap__line ptn-line-wrap__line_bottom"></div>
        </div>
    </div>
    <div class="ptn-header__logo">
        <a class="ptn-header__logo-link" href="{{ '/' | app }}">
            <span>{{ app.name }}</span>
            <img src="{{ 'assets/images/logos/logo-lightest-96x96.png' | theme }}">
        </a>
    </div>
    <div class="ptn-header__navigation">
        <ul class="ptn-header__navigation-list">
            <li class="ptn-header__navigation-list-item">
                {% if user %}
                <div class="ptn-header__navigation-list-item-wrap ptn-dropdown">
                    <a class="ptn-header__navigation-list-item-icon ptn-dropdown__trigger">
                        <i class="zmdi zmdi-account"></i>
                    </a>
                    <div class="dropdown__menu">
                        <div class="dropdown__menu-header">
                            <p class="dropdown__menu-title">{{ user.name }}</p>
                        </div>
                        <div class="dropdown__menu-body">
                            <div class="ptn-list">
                                <ul class="ptn-list__list">
                                    <li class="ptn-list__item">
                                        <a class="ptn-list__link" href="{{ 'account' | page }}">
                                            <div class="ptn-list__item-icon">
                                                <i class="zmdi zmdi-male"></i>
                                            </div>
                                            <p class="ptn-list__item-text">My account</p>
                                        </a>
                                    </li>
                                    <li class="ptn-list__item">
                                        <a class="ptn-list__link" data-request="onLogout" data-request-redirect="/home">
                                            <div class="ptn-list__item-icon">
                                                <i class="zmdi zmdi-run"></i>
                                            </div>
                                            <p class="ptn-list__item-text">Sign out</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="ptn-header__navigation-list-item-wrap">
                    <a class="ptn-header__navigation-list-item-text" href="{{ 'account' | page }}">
                        <i class="zmdi zmdi-account"></i>
                        <span>Sign in</span>
                    </a>
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
</header>
