.ptn-list {
  cursor: default;

  .clearfix;
}

.ptn-list__header {
  box-sizing: content-box;
  position: relative;
  height: @ptn__height_list-header;
  line-height: @ptn__height_list-header;
  border-bottom: 1px solid @ptn-util__color_divider-dark;
  font-size: @ptn__font-size_list-header;
}

.ptn-list__header-title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  .text-overflow;
}

.ptn-list__header-actions {
  position: absolute;
  top: 0;
  right: 0;
  margin: @ptn__margin_list-header-actions;
}

.ptn-list__body {
  margin: @ptn-util__mardding_smaller 0;
}

.ptn-list__list {
  overflow-x: hidden;

  .ptn-util__list_unstyled;
}

.ptn-list__list-item {

}

.ptn-list__list-item-link {
  position: relative;
  color: @ptn-util__color_link !important;

  .ptn-util__link_block;
  .ptn-util__cursor_pointer;

  &:not(.ptn-list__list-item-link_sublist) {
    .ptn-util__text-hover(@ptn-util__color_highlight-light, @ptn-util__background_highlight-light);
  }
}

.ptn-list__list-item_active {
  .ptn-list__list-item-link {
    background: @ptn-util__background_highlight-light;

    .ptn-util__text-highlight(@ptn-util__color_highlight-light);
  }
}

.ptn-list__list-item-container {
  padding: @ptn-util__mardding_smaller @ptn-util__mardding_small;

  .clearfix;
}

.ptn-list__list-item-header {
  margin: 0;
  height: @ptn__height_list-item-header;
  line-height: @ptn__height_list-item-header;
  color: @ptn__color_list-item-header;
  font-size: @ptn__font-size_list-item-header;
}

.ptn-list__list-item-body {
  margin: @ptn__margin_list-item-body-top 0 0;
}

.ptn-list__list-item-icon-container, .ptn-list__list-item-text-container {
  float: left;
  height: @ptn__height_list-item-default;
}

.ptn-list__list-item-icon-container {
  width: @ptn__height_list-item-default;
  text-align: center;
}

.ptn-list__list-item-icon {
  font-size: @ptn__font-size_list-item-icon;
}

.ptn-list__list-item-text-container {
  padding: 0 0 0 @ptn-util__mardding_smaller;
  //width: ~"calc(100% - @{ptn__height_list-item-default})";
}

.ptn-list__list-item-text {
  margin: 0;
  height: @ptn__height_list-item-default;
  line-height: @ptn__height_list-item-default;
  font-size: @ptn__font-size_list-item-text;

  .text-overflow;
}

.ptn-list__footer {
  box-sizing: content-box;
  height: @ptn__height_list-footer;
  line-height: @ptn__height_list-footer;
  border-top: 1px solid @ptn-util__color_divider-dark;
  text-align: center;
  text-transform: uppercase;
}

.ptn-list__footer-link {
  color: @ptn-util__color_link !important;

  .text-overflow;
  .ptn-util__text-hover;
}

.ptn-list__list-item-link_sublist {
  &:before, &:after {
    position: absolute;
    top: 0;
    right: @ptn-util__mardding_small;
    line-height: @ptn__height_list-item-default + @ptn-util__mardding_smaller * 2;
    font-family: @ptn-util__font-family_zmdi;
    font-size: @ptn__font-size_list-sublist-icon;

    .backface-visibility(hidden);
    .ptn-util__transition(transform, @ptn-util__animation-duration_slide);
  }

  &:before {
    content: '\f278';

    .scale(1);
  }

  &:after {
    content: '\f273';

    .scale(0);
  }

  &.ptn-util__trigger_on {
    &:before {
      .scale(0);
    }

    &:after {
      .scale(1);
    }
  }
}

.ptn-list__list-item-sublist {
  display: none;

  .ptn-list__body {
    margin: 0;
  }

  .ptn-list__list-item-text-container {
    padding: 0 0 0 @ptn-util__mardding_smaller + @ptn__height_list-item-default;
  }

  .ptn-list__list-item_active {
    .ptn-list__list-item-link {
      background: @ptn-util__background_highlight-dark;

      .ptn-util__text-highlight(@ptn-util__color_highlight-dark);
    }
  }

  .ptn-list__list-item-link:not(.ptn-list__list-item-link_sublist) {
    .ptn-util__text-hover(@ptn-util__color_highlight-dark, @ptn-util__background_highlight-dark);
  }

  .ptn-list__list-item-sublist {
    .ptn-list__list-item-text-container {
      padding: 0 0 0 (@ptn-util__mardding_smaller + @ptn__height_list-item-default) * 2;
    }
  }
}
