.ptn-account-block {
  display: none;
  width: 90%;
  max-width: 480px;

  .ptn-util__animation(fadeInUp, @ptn-util__duration_fast);

  &.ptn-util__widget_on {
    display: initial;
  }
}

.ptn-account-block__body {
  position: relative;
  padding: 24px 48px 24px 36px;
  background: @ptn-util__color_dark;
  box-shadow: @ptn-util__box-shadow_1;
}

.ptn-account-block__submit {
  position: absolute;
  top: 50%;
  right: -24px;
  margin: -24px 0 0;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  font-size: 2.1rem;
  color: @ptn-util__color_dark;
  background: @ptn-util__color_lighter;
  box-shadow: @ptn-util__box-shadow_3;
  cursor: pointer;
}

.ptn-account-block__navigation {

}
