/******************** variables ********************/
@import '../general/variables';

/******************** vendors ********************/
@import (less) '@{ptn-util__path_bower}/lightgallery/dist/css/lightgallery.css';

/******************** overrides ********************/
@font-face {
  font-family: 'lg';
  src: url('@{ptn-util__path_bower-public}/lightgallery/dist/fonts/lg.eot?n1z373');
  src: url('@{ptn-util__path_bower-public}/lightgallery/dist/fonts/lg.eot?#iefixn1z373') format('embedded-opentype'), url('@{ptn-util__path_bower-public}/lightgallery/dist/fonts/lg.woff?n1z373') format('woff'), url('@{ptn-util__path_bower-public}/lightgallery/dist/fonts/lg.ttf?n1z373') format('truetype'), url('@{ptn-util__path_bower-public}/lightgallery/dist/fonts/lg.svg?n1z373#lg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.lg-outer {
  &:not(.lg-thumb-open) {
    .lg-toogle-thumb {
      top: -(@ptn__size_button-floating + @ptn__mardding_button-floating);
    }
  }

  &.lg-thumb-open {
    .lg-image {
      padding-bottom: 114px;
    }

    .lg-toogle-thumb {
      top: -(@ptn__size_button-floating / 2);
    }
  }

  .lg-img-wrap {
    padding: 0;
  }

  .lg-item.lg-complete.lg-zoomable .lg-image {
    transition: all 0.25s cubic-bezier(0, 0, .25, 1) 0s !important;
  }

  .lg-thumb-outer {
    padding: @ptn-util__mardding_smaller 0 @ptn-util__mardding_smaller @ptn-util__mardding_smaller;
    background: @ptn-util__color_transparent-gray;
  }

  .lg-thumb {
    margin-bottom: 0;
    padding: 0;
  }

  .lg-thumb-item {
    border: none;
    border-radius: @ptn-util__border-radius_round;
    margin-bottom: 0;
    opacity: 0.35;

    &:hover, &.active {
      opacity: 1;
    }
  }

  .lg-toogle-thumb {
    right: @ptn__mardding_button-floating;
    padding: 0;
    height: @ptn__size_button-floating;
    width: @ptn__size_button-floating;
    line-height: @ptn__size_button-floating;
    color: @ptn__color_button-floating;
    background: @ptn__background_button-floating;
    border-radius: @ptn-util__border-radius_round;
    box-shadow: @ptn__box-shadow_button-floating;
    transition: all;
    transition-duration: @ptn__animation-duration_button-floating;

    &:hover {
      color: @ptn__color_button-floating-highlighted;
      transform: rotate(360deg);
    }
  }
}
