<div id="account-sign-in" class="ptn-account-block">
    <div class="ptn-account-block__body">
        <form data-request="onSignin">
            <div class="form-group">
                <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
                <input
                        name="login"
                        type="text"
                        class="form-control"
                        id="userSigninLogin"
                        placeholder="Enter your {{ loginAttributeLabel|lower }}">
            </div>
            <div class="form-group">
                <label for="userSigninPassword">Password</label>
                <input
                        name="password"
                        type="password"
                        class="form-control"
                        id="userSigninPassword"
                        placeholder="Enter your password">
            </div>
            <button class="ptn-account-block__submit" type="submit"><i class="zmdi zmdi-arrow-forward"></i></button>
        </form>
        {% for name, link in social_login_links %}
        <a href="{{ link }}">{{ name }}</a>
        {% endfor %}
    </div>
    <div class="ptn-account-block__navigation">
        <ul class="ptn-account-block__navigation-list">
            <li class="ptn-account-block__navigation-list-item">
                <a class="ptn-account-block__navigation-list-item-link" ptn-account-block-trigger="account-sign-up">sign up</a>
            </li>
        </ul>
    </div>
</div>
