<p class="ptn-account-block__body-title">Please check your email for the activation code.</p>
<form
        data-request="{{ resetPassword }}::onResetPassword"
        data-request-update="'components/account-forgot-password-complete': '#account-forgot-password-form'">
    <div class="ptn-input-block">
        <label class="ptn-input-block__label">
            <i class="zmdi zmdi-code"></i>
        </label>
        <div class="ptn-input-block__input">
            <input
                    class="ptn-input-block__input-text"
                    type="text"
                    name="code"
                    value="{{ resetPassword.code }}"
                    placeholder="Activation code">
        </div>
    </div>
    <div class="ptn-input-block">
        <label class="ptn-input-block__label">
            <i class="zmdi zmdi-shield-security"></i>
        </label>
        <div class="ptn-input-block__input">
            <input
                    class="ptn-input-block__input-text"
                    type="password"
                    name="password"
                    placeholder="New password">
        </div>
    </div>
    <button class="ptn-account-block__submit" type="submit">
        <i class="zmdi zmdi-refresh-alt"></i>
    </button>
</form>
