<div id="account-sign-up" class="ptn-account-block">
    <div class="ptn-account-block__container">
        <div class="ptn-account-block__header">
            <p>sign up</p>
        </div>
        <div class="ptn-account-block__body">
            <form data-request="onRegister">
                <div class="ptn-input-block">
                    <label class="ptn-input-block__label">
                        <i class="zmdi zmdi-account"></i>
                    </label>
                    <div class="ptn-input-block__input">
                        <input
                                class="ptn-input-block__input-text"
                                type="text"
                                name="name"
                                placeholder="Name">
                    </div>
                </div>
                <div class="ptn-input-block">
                    <label class="ptn-input-block__label">
                        <i class="zmdi zmdi-email"></i>
                    </label>
                    <div class="ptn-input-block__input">
                        <input
                                class="ptn-input-block__input-text"
                                type="email"
                                name="email"
                                placeholder="Email">
                    </div>
                </div>
                <div class="ptn-input-block">
                    <label class="ptn-input-block__label">
                        <i class="zmdi zmdi-shield-security"></i>
                    </label>
                    <div class="ptn-input-block__input">
                        <input
                                class="ptn-input-block__input-text"
                                type="password"
                                name="password"
                                placeholder="Password">
                    </div>
                </div>
                <button class="ptn-account-block__submit" type="submit">
                    <i class="zmdi zmdi-plus"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="ptn-account-block__navigation">
        <ul class="ptn-account-block__navigation-list">
            <li class="ptn-account-block__navigation-list-item">
                <a class="ptn-account-block__navigation-list-item-link" ptn-account-block-trigger="account-sign-in">
                    <i class="zmdi zmdi-arrow-right"></i>
                    <span>sign in</span>
                </a>
            </li>
        </ul>
    </div>
</div>
