<div id="account-update" class="ptn-account-block">
    <div class="ptn-account-block__container">
        <div class="ptn-account-block__header">
            <p>update</p>
        </div>
        <div class="ptn-account-block__body">
            {{ form_ajax('onUpdate', {model: user}) }}
            <div class="ptn-input-block">
                <label class="ptn-input-block__label">
                    <i class="zmdi zmdi-account"></i>
                </label>
                <div class="ptn-input-block__input">
                    <input
                            class="ptn-input-block__input-text"
                            type="text"
                            name="name"
                            value="{{ form_value('name') }}"
                            placeholder="Name">
                </div>
            </div>
            <div class="ptn-input-block">
                <label class="ptn-input-block__label">
                    <i class="zmdi zmdi-email"></i>
                </label>
                <div class="ptn-input-block__input">
                    <input
                            class="ptn-input-block__input-text"
                            type="email"
                            name="email"
                            value="{{ form_value('email') }}"
                            placeholder="Email">
                </div>
            </div>
            <div class="ptn-input-block">
                <label class="ptn-input-block__label">
                    <i class="zmdi zmdi-lock"></i>
                </label>
                <div class="ptn-input-block__input">
                    <input
                            class="ptn-input-block__input-text"
                            type="password"
                            name="password"
                            placeholder="New password">
                </div>
            </div>
            <div class="ptn-input-block">
                <label class="ptn-input-block__label">
                    <i class="zmdi zmdi-lock-outline"></i>
                </label>
                <div class="ptn-input-block__input">
                    <input
                            class="ptn-input-block__input-text"
                            type="password"
                            name="password_confirmation"
                            placeholder="Confirm new password">
                </div>
            </div>
            <button class="ptn-account-block__submit" type="submit">
                <i class="zmdi zmdi-check"></i>
            </button>
            {{ form_close() }}
        </div>
    </div>
</div>
