<div id="account-block-update" class="ptn-account-block">
    <div class="ptn-account-block__container">
        <div class="ptn-account-block__header">
            <p>update</p>
        </div>
        <div class="ptn-account-block__body">
            {{ form_ajax('onUpdate', {model: user}) }}
            <div class="ptn-input-block">
                <label class="ptn-input-block__label">
                    <i class="zmdi zmdi-account"></i>
                </label>
                <div class="ptn-input-block__input">
                    <input
                            class="ptn-input-block__input-text"
                            type="text"
                            name="name"
                            value="{{ form_value('name') }}"
                            placeholder="Name">
                </div>
            </div>
            <div class="ptn-input-block">
                <label class="ptn-input-block__label">
                    <i class="zmdi zmdi-email"></i>
                </label>
                <div class="ptn-input-block__input">
                    <input
                            class="ptn-input-block__input-text"
                            type="email"
                            name="email"
                            value="{{ form_value('email') }}"
                            placeholder="Email">
                </div>
            </div>
            <div class="ptn-input-block">
                <label class="ptn-input-block__label">
                    <i class="zmdi zmdi-shield-security"></i>
                </label>
                <div class="ptn-input-block__input">
                    <input
                            class="ptn-input-block__input-text"
                            type="password"
                            name="password"
                            placeholder="New password">
                </div>
            </div>
            <div class="ptn-input-block">
                <label class="ptn-input-block__label">
                    <i class="zmdi zmdi-shield-check"></i>
                </label>
                <div class="ptn-input-block__input">
                    <input
                            class="ptn-input-block__input-text"
                            type="password"
                            name="password_confirmation"
                            placeholder="Confirm new password">
                </div>
            </div>
            <button class="ptn-account-block__submit" type="submit">
                <i class="zmdi zmdi-check"></i>
            </button>
            {{ form_close() }}
        </div>
    </div>
    <div class="ptn-account-block__navigation">
        <ul class="ptn-account-block__navigation-list">
            <li class="ptn-account-block__navigation-list-item">
                <a
                        class="ptn-account-block__navigation-list-item-link ptn-account-block__navigation-list-item-link_home"
                        href="{{ '/' | app }}">
                    <i class="zmdi zmdi-home"></i>
                    <span>home</span>
                </a>
            </li>
            <li class="ptn-account-block__navigation-list-item">
                <a
                        class="ptn-account-block__navigation-list-item-link ptn-account-block__navigation-list-item-link_sign-out"
                        data-request="onLogout">
                    <i class="zmdi zmdi-power"></i>
                    <span>sign out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
