<p class="ptn-account-block__body-title">Please enter your email address.</p>
<form
        data-request="{{ resetPassword }}::onRestorePassword"
        data-request-update="'components/account-forgot-password-reset': '#account-forgot-password-form'">
    <div class="ptn-input-block">
        <label class="ptn-input-block__label">
            <i class="zmdi zmdi-email"></i>
        </label>
        <div class="ptn-input-block__input">
            <input
                    class="ptn-input-block__input-text"
                    type="email"
                    name="email"
                    placeholder="Email">
        </div>
    </div>
    <button class="ptn-account-block__submit" type="submit">
        <i class="zmdi zmdi-search"></i>
    </button>
</form>
