<div id="account-block-forgot-password" class="ptn-account-block">
    <div class="ptn-account-block__container">
        <div class="ptn-account-block__header">
            <p>forgot password</p>
        </div>
        <div id="account-forgot-password-form" class="ptn-account-block__body">
            {% if resetPassword.code == null %}
            {% partial "components/account-forgot-password-restore" %}
            {% else %}
            {% partial "components/account-forgot-password-reset" %}
            {% endif %}
        </div>
    </div>
    <div class="ptn-account-block__navigation">
        <ul class="ptn-account-block__navigation-list">
            <li class="ptn-account-block__navigation-list-item">
                <a
                        class="ptn-account-block__navigation-list-item-link ptn-account-block__navigation-list-item-link_home"
                        href="{{ '/' | app }}">
                    <i class="zmdi zmdi-home"></i>
                    <span>home</span>
                </a>
            </li>
            <li class="ptn-account-block__navigation-list-item">
                <a
                        class="ptn-account-block__navigation-list-item-link ptn-account-block__navigation-list-item-link_sign-up"
                        ptn-account-block-trigger="account-block-sign-up">
                    <i class="zmdi zmdi-plus"></i>
                    <span>sign up</span>
                </a>
            </li>
            <li class="ptn-account-block__navigation-list-item">
                <a
                        class="ptn-account-block__navigation-list-item-link ptn-account-block__navigation-list-item-link_sign-in"
                        ptn-account-block-trigger="account-block-sign-in">
                    <i class="zmdi zmdi-arrow-right"></i>
                    <span>sign in</span>
                </a>
            </li>
        </ul>
    </div>
</div>
