<div id="account-sign-in" class="ptn-account-block">
    <div class="ptn-account-block__container">
        <div class="ptn-account-block__header">
            <p>sign in</p>
        </div>
        <div class="ptn-account-block__body">
            <form data-request="onSignin">
                <div class="ptn-input-block">
                    <label class="ptn-input-block__label">
                        <i class="zmdi zmdi-email"></i>
                    </label>
                    <div class="ptn-input-block__input">
                        <input
                                class="ptn-input-block__input-text"
                                type="email"
                                name="email"
                                placeholder="Email">
                    </div>
                </div>
                <div class="ptn-input-block">
                    <label class="ptn-input-block__label">
                        <i class="zmdi zmdi-lock"></i>
                    </label>
                    <div class="ptn-input-block__input">
                        <input
                                class="ptn-input-block__input-text"
                                type="password"
                                name="password"
                                placeholder="Password">
                    </div>
                </div>
                <button class="ptn-account-block__submit" type="submit">
                    <i class="zmdi zmdi-arrow-forward"></i>
                </button>
            </form>
        </div>
        <div class="ptn-account-block__footer">
            <div class="ptn-account-block__social-sign-in">
                {% for name, link in social_login_links %}
                <a class="ptn-account-block__social-sign-in-link" href="{{ link }}">
                    <i class="zmdi zmdi-{{ name | lower }}"></i>
                    <span>Sign in with {{ name }}</span>
                </a>
                <div class="ptn-util__clearfix"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ptn-account-block__navigation">
        <ul class="ptn-account-block__navigation-list">
            <li class="ptn-account-block__navigation-list-item">
                <a class="ptn-account-block__navigation-list-item-link" ptn-account-block-trigger="account-sign-up">
                    <i class="zmdi zmdi-plus"></i>
                    <span>sign up</span>
                </a>
            </li>
        </ul>
    </div>
</div>
