{% set posts = blogPosts.posts %}
{% set pageCurrent = posts.currentPage %}
{% set pageLast = posts.lastPage %}

<div class="ptn-card">
    <div class="ptn-card__header">
        <p class="ptn-card__title">
            {% if category %}
            <i class="zmdi zmdi-balance"></i>
            <span>PUBLISHERS / {{ category.name }}</span>
            {% else %}
            <i class="zmdi zmdi-timer"></i>
            <span>NEW ALBUMS</span>
            {% endif %}
        </p>
    </div>
    {% if posts.count %}
    <div class="ptn-card__body">
        <div id="photos" class="ptn-photos ptn-row">
            {% for post in posts %}
            <div class="ptn-col_xs_6 ptn-col_sm_4 ptn-col_md_3 ptn-col_lg_2">
                <div class="ptn-photo{% if post.categories[0].slug in publisherSlugsPremium %} ptn-photo_highlighted{% endif %}">
                    <a class="ptn-photo__link" href="{{ 'album' | page({album: post.slug}) }}">
                        <img class="ptn-photo__image" src="{{ post.featured_images[0].thumb(240, 240, {'mode': 'crop', extension: 'jpg'}) }}">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if pageLast > 1 %}
    <div class="ptn-card__footer">
        <div class="ptn-pagination">
            <ul class="ptn-pagination__list">
                {% if pageCurrent > 1 %}
                <li class="ptn-pagination__list-item">
                    <a class="ptn-pagination__list-item-link" href="{{ this.page.baseFileName | page({(pageParam): 1}) }}">
                        <i class="zmdi zmdi-fast-rewind"></i>
                    </a>
                </li>
                {% endif %}
                {% for page in (pageCurrent - 11 > 1 ? pageCurrent - 11 : 1)..(pageCurrent + 11 < pageLast ? pageCurrent + 11 : pageLast) %}
                <li class="ptn-pagination__list-item{% if pageCurrent == page %} ptn-pagination__list-item_active{% endif %}{% if page < pageCurrent - 1 or page > pageCurrent + 1 %} ptn-pagination__list-item_orbit-1{% endif %}{% if page < pageCurrent - 2 or page > pageCurrent + 2 %} ptn-pagination__list-item_orbit-2{% endif %}{% if page < pageCurrent - 3 or page > pageCurrent + 3 %} ptn-pagination__list-item_orbit-3{% endif %}{% if page < pageCurrent - 4 or page > pageCurrent + 4 %} ptn-pagination__list-item_orbit-4{% endif %}{% if page < pageCurrent - 5 or page > pageCurrent + 5 %} ptn-pagination__list-item_orbit-5{% endif %}{% if page < pageCurrent - 7 or page > pageCurrent + 7 %} ptn-pagination__list-item_orbit-7{% endif %}{% if page < pageCurrent - 9 or page > pageCurrent + 9 %} ptn-pagination__list-item_orbit-9{% endif %}">
                    <a class="ptn-pagination__list-item-link" href="{{ this.page.baseFileName | page({(pageParam): page}) }}">{{ page }}</a>
                </li>
                {% endfor %}
                {% if pageLast > pageCurrent %}
                <li class="ptn-pagination__list-item">
                    <a class="ptn-pagination__list-item-link" href="{{ this.page.baseFileName | page({(pageParam): pageLast}) }}">
                        <i class="zmdi zmdi-fast-forward"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
