{% set posts = blogRelated.posts %}

{% if posts.count %}
<div class="ptn-albums-related ptn-card">
    <div class="ptn-card__header">
        <p class="ptn-card__title">
            <i class="zmdi zmdi-router"></i>
            <span>SIMILAR ALBUMS</span>
        </p>
    </div>
    <div class="ptn-card__body">
        <div class="ptn-photos ptn-row">
            {% for post in posts %}
            <div class="ptn-col_xs_3  ptn-col_sm_2">
                <div class="ptn-photo{% if post.categories[0].slug in publisherSlugsPremium %} ptn-photo_highlighted ptn-photo_highlighted_small{% endif %}">
                    <a class="ptn-photo__link" href="{{ 'album' | page({album: post.slug}) }}">
                        <img class="ptn-photo__image" src="{{ post.featured_images[0].thumb(240, 240, {'mode': 'crop', extension: 'jpg'}) }}">
                    </a>
                    <div class="ptn-photo__cover">
                        <a class="ptn-photo__cover-link" href="{{ 'publisher' | page({publisher: post.categories[0].slug}) }}">{{ post.categories[0].name }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
