{% set posts = blogRelated.posts %}

{% if posts.count %}
<div class="ptn-albums-related ptn-card">
    <div class="ptn-card__header">
        <p class="ptn-card__title">
            <i class="zmdi zmdi-layers"></i>
            <span>Recommended albums</span>
        </p>
    </div>
    <div class="ptn-card__body">
        <div class="ptn-photos ptn-row">
            {% for post in posts %}
            <div class="ptn-col_xs_6 ptn-col_sm_4 ptn-col_md_3 ptn-col_lg_2">
                <a class="ptn-photo" href="{{ 'album' | page({album: post.slug}) }}">
                    <img class="ptn-photo__image" src="{{ post.featured_images[0].thumb(240, 240, {'mode': 'crop', extension: 'jpg'}) }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
