<div id="notifications" class="ptn-header__notifications ptn-list">
    <div class="ptn-list__header">
        <p class="ptn-list__header-title">notifications</p>
        <div class="ptn-list__header-actions">
            <ul class="ptn-actions">
                <li class="ptn-action">
                    <div class="ptn-action__trigger" data-ptn-action="clear-notifications">
                        <i class="ptn-action__icon zmdi zmdi-check-all"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="ptn-list__body">
        <ul class="ptn-list__list">
            <a href="">
                <li class="ptn-list__list-item">
                    <div class="ptn-media">
                        <div class="ptn-media-row">
                            <div class="ptn-media-column ptn-media__image-container">
                                <img class="ptn-media__image" src="{{ 'assets/images/profile-pics/1.jpg' | theme }}" alt="">
                            </div>
                            <div class="ptn-media-column ptn-media__text-container">
                                <h5 class="ptn-media__text-header">David Belle</h5>
                                <small class="ptn-media__text-body">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
            <a href="">
                <li class="ptn-list__list-item">
                    <div class="ptn-media">
                        <div class="ptn-media-row">
                            <div class="ptn-media-column ptn-media__image-container">
                                <img class="ptn-media__image" src="{{ 'assets/images/profile-pics/2.jpg' | theme }}" alt="">
                            </div>
                            <div class="ptn-media-column ptn-media__text-container">
                                <h5 class="ptn-media__text-header">Jonathan Morris</h5>
                                <small class="ptn-media__text-body">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
            <a href="">
                <li class="ptn-list__list-item">
                    <div class="ptn-media">
                        <div class="ptn-media-row">
                            <div class="ptn-media-column ptn-media__image-container">
                                <img class="ptn-media__image" src="{{ 'assets/images/profile-pics/3.jpg' | theme }}" alt="">
                            </div>
                            <div class="ptn-media-column ptn-media__text-container">
                                <h5 class="ptn-media__text-header">Fredric Mitchell Jr.</h5>
                                <small class="ptn-media__text-body">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
            <a href="">
                <li class="ptn-list__list-item">
                    <div class="ptn-media">
                        <div class="ptn-media-row">
                            <div class="ptn-media-column ptn-media__image-container">
                                <img class="ptn-media__image" src="{{ 'assets/images/profile-pics/4.jpg' | theme }}" alt="">
                            </div>
                            <div class="ptn-media-column ptn-media__text-container">
                                <h5 class="ptn-media__text-header">Glenn Jecobs</h5>
                                <small class="ptn-media__text-body">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
            <a href="">
                <li class="ptn-list__list-item">
                    <div class="ptn-media">
                        <div class="ptn-media-row">
                            <div class="ptn-media-column ptn-media__image-container">
                                <img class="ptn-media__image" src="{{ 'assets/images/profile-pics/5.jpg' | theme }}" alt="">
                            </div>
                            <div class="ptn-media-column ptn-media__text-container">
                                <h5 class="ptn-media__text-header">Bill Phillips</h5>
                                <small class="ptn-media__text-body">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
                            </div>
                        </div>
                    </div>
                </li>
            </a>
        </ul>
    </div>
    <div class="ptn-list__footer">
        <a class="ptn-list__footer-link" href="">view previous</a>
    </div>
</div>
