.ptn-line-wrap {
  width: @ptn__width_line-wrap;
  height: @ptn__height_line-wrap;
}

.ptn-line-wrap__line {
  width: @ptn__width_line-wrap;
  height: 2px;
  background: @ptn__color_header;
}

.ptn-line-wrap_animation-style_rotate, .ptn-line-wrap__line {
  .ptn-util__transition(all, @ptn-util__animation-duration_trigger);
}

.ptn-line-wrap__line_center {
  margin: 3px 0;
}

&.ptn-util__trigger_on {
  .ptn-line-wrap__line_top, .ptn-line-wrap__line_bottom {
    width: @ptn__height_line-wrap;
  }

  .ptn-line-wrap_animation-style_converge {
    .ptn-line-wrap__line_top {
      transform: translateX(-3px) translateY(1px) rotate(-45deg);
    }

    .ptn-line-wrap__line_bottom {
      transform: translateX(-3px) translateY(-1px) rotate(45deg);
    }
  }

  .ptn-line-wrap_animation-style_rotate {
    .rotate(180deg);

    .ptn-line-wrap__line_top {
      transform: translateX(8px) translateY(1px) rotate(45deg);
    }

    .ptn-line-wrap__line_bottom {
      transform: translateX(8px) translateY(-1px) rotate(-45deg);
    }
  }
}
