.ptn-line-wrap {
  width: 18px;
  height: 12px;
}

.ptn-line-wrap__line {
  width: 18px;
  height: 2px;
  background: @ptn__color_header;
}

.ptn-line-wrap_animation-style_rotate, .ptn-line-wrap__line {
  .transition(all);
  .transition-duration(@ptn__animation-duration_trigger);
}

.ptn-line-wrap__line_center {
  margin: 3px 0;
}

&.open {
  .ptn-line-wrap__line_top, .ptn-line-wrap__line_bottom {
    width: 12px;
  }

  .ptn-line-wrap_animation-style_converge {
    .ptn-line-wrap__line_top {
      transform: translateX(-3px) translateY(1px) rotate(-45deg);
    }

    .ptn-line-wrap__line_bottom {
      transform: translateX(-3px) translateY(-1px) rotate(45deg);
    }
  }

  .ptn-line-wrap_animation-style_rotate {
    .rotate(180deg);

    .ptn-line-wrap__line_top {
      transform: translateX(8px) translateY(1px) rotate(45deg);
    }

    .ptn-line-wrap__line_bottom {
      transform: translateX(8px) translateY(-1px) rotate(-45deg);
    }
  }
}
