<div class="ptn-card">
    <div class="ptn-card__body">
        <div class="ptn-typography">
            {% if not user %}
            <h3>Hey there, it seems you're not signed in yet (it's totally free).</h3>
            <p>You need to <a ptn-dropdown-trigger="dropdown-sign-in"><b>sign in</b></a> to view the albums from the following PREMIUM publisher(s):</p>
            <ul>
                {% for publisher in albumPublishersPremium %}
                <li><a href="{{ 'publisher' | page({publisher: publisher.slug}) }}"><b>{{ publisher.name }}</b></a></li>
                {% endfor %}
            </ul>
            {% else %}
            <h3>Hey {{ user.name }}, it appears your email address hasn't been verified yet.</h3>
            <p>You'll have to verify your account to view the albums from the following PREMIUM publisher(s):</p>
            <ul>
                {% for publisher in albumPublishersPremium %}
                <li><a href="{{ 'publisher' | page({publisher: publisher.slug}) }}"><b>{{ publisher.name }}</b></a></li>
                {% endfor %}
            </ul>
            <p>Please check your email {{ user.email }} to verify. Or
                <a data-request="onSendActivationEmail"><b>click here</b></a> to send the verification email again.</p>
            {% endif %}
        </div>
    </div>
</div>
