title = "Account"
url = "/account/:activation_code?"
layout = "minimal"
description = "The account page."
is_hidden = 0

[account]
paramCode = "activation_code"

[resetPassword]
paramCode = "code"

[sociallogin]
==
{% put title %}
Account
{% endput %}

{% if user %}
{% if not user.is_activated %}
{% partial 'components/account-activation-check' %}
{% endif %}
{% partial 'components/account-update' %}
{% else %}
{% partial 'components/account-sign-in' %}
{% partial 'components/account-sign-up' %}
{% endif %}

{% for name, link in social_login_links %}
<a href="{{ link }}">{{ name }}</a>
{% endfor %}
