title = "Album"
url = "/albums/:album/:activation_code?"
layout = "default"
description = "The page displaying an album."
is_hidden = 0

[blogPost]
slug = "{{ :album }}"
categoryPage = "publisher"

[blogRelated]
slug = "{{ :album }}"
results = 12
orderBy = 0
direction = "desc"
postPage = "album"
==
<?php
public function onEnd()
{
    $this['album'] = $this->blogPost->post;

    /******************** publisher ********************/
    $this['albumPublishers'] = $this->album->categories;

    $albumPublishersArray = iterator_to_array($this->albumPublishers);

    $this['albumPublisherSlugs'] = array_map(function($publisher) {
        return $publisher->slug;
    }, $albumPublishersArray);

    $this['albumPublishersPremium'] = array_filter($albumPublishersArray, function($publisher) {
        return in_array($publisher->slug, $this->publisherSlugsPremium);
    });

    /******************** region ********************/

    /******************** tag ********************/
    $albumTagsArray = iterator_to_array($this->album->tags);

    $this['albumTagSlugs'] = array_map(function($tag) {
        return $tag->name;
    }, $albumTagsArray);

    /******************** album ********************/
    $this['isAlbumShown'] = count($this->albumPublishersPremium) === 0 || ($this->user && $this->user->is_activated);
}
?>
==
{% put title %}
Albums {% if post %}{{ ' | ' ~ post.title }}{% endif %}
{% endput %}

{% if isAlbumShown %}
{% partial 'components/album' %}
{% partial 'components/albums-related' %}
{% else %}
{% partial 'units/access-warning' %}
{% endif %}
