title = "Album"
url = "/album/:album"
layout = "default"
description = "The page displaying an album."
is_hidden = 0

[blogPost]
slug = "{{ :album }}"
categoryPage = "publisher"

[blogRelated]
slug = "{{ :album }}"
results = 12
orderBy = 0
direction = "desc"
==
<?php
public function onEnd()
{
    $this['album'] = $this->blogPost->post;

    $this['albumPublishers'] = $this->album->categories;

    $albumPublishersArray = iterator_to_array($this->albumPublishers);

    $albumTagsArray = iterator_to_array($this->album->tags);

    $this['albumPublisherSlugs'] = array_map(function($publisher) {
        return $publisher->slug;
    }, $albumPublishersArray);

    $this['albumTagSlugs'] = array_map(function($tag) {
        return $tag->name;
    }, $albumTagsArray);

    $this['albumPublishersPremium'] = array_filter($albumPublishersArray, function($publisher) {
        return in_array($publisher->slug, $this->publishersPremium);
    });

    $this['isAlbumShown'] = count($this->albumPublishersPremium) === 0 || ($this->user && $this->user->is_activated);
}
?>
==
{% put title %}
Album {% if post %}{{ ' | ' ~ post.title }}{% endif %}
{% endput %}

{% if isAlbumShown %}
{% partial 'components/album' %}
{% partial 'components/albums-related' %}
{% else %}
{% if not user %}
<p>You have to sign in to view the albums from the following publishers:</p>
{% else %}
<p>You have to verify your account {{ user.email }} to view the albums from the following publishers:</p>
{% endif %}
<ul>
{% for publisher in albumPublishersPremium %}
    <li>{{ publisher.name }}</li>
{% endfor %}
</ul>
{% endif %}
