description = "The default layout template."
==
public function onInit()
{
    $this['app'] = [
        'name' => Config::get('ptn.app_name'),
        'nameAcronym' => Config::get('ptn.app_name_acronym'),
    ];
}
==
<!doctype html>
<!--[if IE 9 ]>
<html lang="en" class="ie9">
<![endif]-->
<!--[if !IE 9 ]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>{{ app.nameAcronym }} | {% placeholder title %}</title>

    {% partial 'layouts-old/top' %}

    {% styles %}
</head>
<body>
    {% partial 'layouts-old/header' %}

    <section id="main" data-layout="layout-1">
        {% partial 'layouts-old/aside' %}

        {% partial 'layouts-old/content' %}
    </section>

    {% partial 'layouts-old/footer' %}

    {% partial 'layouts-old/browser-warning' %}

    {% partial 'layouts-old/bottom' %}

    {% scripts %}
</body>
</html>
