description = "The default layout template."

[session]
security = "all"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "publisher"

[blogTags]
hideOrphans = 0
results = 0
orderBy = 0
direction = "desc"

[account]
paramCode = "activation_code"

[sociallogin]
==
<?php
use Ptn\Publisher;
use Ptn\Tag;

public function onInit()
{
    $this['app'] = [
        'name' => Config::get('ptn.app_name'),
        'nameAcronym' => Config::get('ptn.app_name_acronym'),
    ];
}

public function onBeforePageStart()
{
    // Publisher
    $indexPublisherRegion = [];

    $regions = array_filter(iterator_to_array($this->categories), function($category) {
        return count($category->children) > 0;
    });

    array_walk($regions, function($regionCategory) use (&$indexPublisherRegion) {
        foreach ($regionCategory->children as $publisher) {
            $indexPublisherRegion[$publisher->slug] = $regionCategory->slug;
        }
    });

    $this['regions'] = $regions;
    $this['indexPublisherRegion'] = $indexPublisherRegion;
    $this['publisherSlugsPremium'] = Publisher::PREMIUM;

    // Tag
    $tagGroups = Tag::TAG_GROUPS;
    $tagsExtra = [];

    $tagSlugs = array_map(function($tagObject) {
        return $tagObject->name;
    }, iterator_to_array($this->blogTags->tags));

    $filterTags = function($tags) use ($tagSlugs) {
        return array_filter($tags, function($tagSlug) use ($tagSlugs) {
            return in_array($tagSlug, $tagSlugs);
        }, ARRAY_FILTER_USE_KEY);
    };

    array_walk($tagGroups, function(&$tagGroup, $tagGroupName) use (&$tagsExtra, $filterTags) {
        $tagGroup['tags'] = $filterTags($tagGroup['tags']);

        foreach ($tagGroup['tags'] as $tagSlug => $tagName) {
            $tagsExtra[$tagSlug] = [
                'group' => $tagGroupName,
                'icon' => $tagGroup['icon'],
                'name' => $tagName
            ];
        }
    });

    $this['tagGroups'] = $tagGroups;
    $this['tagsExtra'] = $tagsExtra;
}
?>
==
<!doctype html>
<!--[if IE 9 ]>
<html lang="en" class="ptn-html_ie9">
<![endif]-->
<!--[if !IE 9 ]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>{{ app.nameAcronym }} | {% placeholder title %}</title>

    {% partial 'assets/top' %}
</head>
<body>
    {% partial 'sections/header' %}
    {% partial 'sections/aside' %}
    {% partial 'sections/main' %}
    {% partial 'widgets/page-loader' %}
    {% partial 'widgets/google-analytics' %}
    {% partial 'assets/bottom' %}
</body>
</html>
