description = "The default layout template."
==
<?
public function onInit()
{
    $this['app'] = [
        'name' => Config::get('ptn.app_name'),
        'nameAcronym' => Config::get('ptn.app_name_acronym'),
    ];
}
?>
==
<!doctype html>
<!--[if IE 9 ]>
<html lang="en" class="ie9">
<![endif]-->
<!--[if !IE 9 ]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>{{ app.nameAcronym }} | {% placeholder title %}</title>

    {% partial 'assets/top' %}
</head>
<body>
    {% partial 'sections/header' %}
    {% partial 'sections/aside' %}
    {% partial 'sections/main' %}
    {% partial 'widgets/page-loader' %}
    {% partial 'widgets/page-warning' %}
    {% partial 'assets/bottom' %}
</body>
</html>
