.ptn-aside {
  overflow-y: auto;
  position: fixed;
  top: @ptn__height_header;
  width: @ptn__width_aside;
  height: ~"calc(100% - @{ptn__height_header})";
  background: @ptn__background_aside;
  box-shadow: @ptn__box-shadow_aside-small-screen;
  z-index: @ptn__z-index_aside;

  .opacity(0);
  .translate3d(-@ptn__width_aside, 0, 0);
  .ptn-util__transition(all, @ptn-util__animation-duration_trigger);

  &.ptn-util__widget_on {
    .opacity(1);
    .translate3d(0, 0, 0);
  }
}

@media (min-width: @screen-md-min) {
  .ptn-body_aside-on {
    .ptn-aside {
      box-shadow: @ptn__box-shadow_aside-large-screen;
    }
  }
}

.ptn-aside__account {
}

.ptn-aside__account-profile-container {
  position: relative;
  height: @ptn__height_aside-account-profile;
  background: url('@{ptn-util__path_root-assets}images/profile-menu.png') no-repeat;
  background-size: 100%;
}

.ptn-aside__account-profile-picture {
  padding: @ptn__padding_aside-account-profile-picture;

  & > img {
    width: @ptn__size_aside-account-picture;
    height: @ptn__size_aside-account-picture;
    border-radius: @ptn-util__border-radius_round;
    box-shadow: @ptn__box-shadow_aside-account-picture;
  }
}

.ptn-aside__account-menu-trigger {
  position: absolute;
  bottom: 0;
  padding: 0 @ptn-util__mardding_horizontal-2;
  width: 100%;
  height: @ptn__height_aside-account-menu-trigger;
  line-height: @ptn__height_aside-account-menu-trigger;
  color: @ptn-util__color_white;
  background: @ptn-util__background_highlight-black-2;

  .ptn-util__cursor_pointer;

  &.ptn-util__trigger_on {
    .ptn-aside__account-menu-trigger-icon {
      .rotate(180deg);
    }
  }
}

.ptn-aside__account-menu-trigger-text {
  font-size: @ptn__font-size_aside-account-menu-trigger-text;
}

.ptn-aside__account-menu-trigger-icon {
  position: absolute;
  right: @ptn-util__mardding_horizontal-2;
  line-height: @ptn__height_aside-account-menu-trigger;
  font-size: @ptn__font-size_aside-account-menu-trigger-icon;

  .ptn-util__transition(all, @ptn-util__animation-duration_slide);
}

.ptn-aside__account-menu-container {
  display: none;
}
































.main-menu {
  list-style: none;
  padding-left: 0;
  margin: 20px 0 0 0;

  & > li {
    & > a {
      padding: 14px 20px 14px 52px;
      display: block;
      color: #4c4c4c;
      font-weight: 500;
      position: relative;

      &:hover {
        color: #262626;
        background-color: #f7f7f7;
      }

      & > i {
        position: absolute;
        left: 16px;
        font-size: 20px;
        top: 0;
        width: 25px;
        text-align: center;
        padding: 13px 0;
      }
    }

    &.active {
      & > a {
        color: #262626;
        background-color: #f4f4f4;
      }
    }
  }
}

.sub-menu {
  & > a {
    position: relative;

    &:before, &:after {
      position: absolute;
      top: 12px;
      color: #575757;
      font-family: @font-icon-md;
      font-size: 17px;
      right: 15px;
      .transition(all);
      .transition-duration(250ms);
      .backface-visibility(hidden);
    }

    &:before {
      content: "\f278";
      .scale(1);
    }

    &:after {
      content: "\f273";
      .scale(0);
    }
  }

  .sub-menu > a {
    &:before, &:after {
      top: 5px;
    }
  }

  &.toggled {
    & > a {
      &:before {
        content: "\f278";
        .scale(0);
      }

      &:after {
        content: "\f273";
        .scale(1);
      }
    }
  }

  ul {
    list-style: none;
    display: none;
    padding: 0;

    & > li {
      & > a {
        color: #7f7f7f;
        padding: 8px 20px 8px 50px;
        font-weight: 500;
        display: block;

        &.active, &:hover {
          color: #000;
        }
      }

      &:first-child > a {
        padding-top: 14px;
      }

      &:last-child > a {
        padding-bottom: 16px;
      }

      ul {
        font-size: 12px;
        margin: 10px 0;
        background-color: @app-gray;
      }
    }
  }

  &.active {
    & > ul {
      display: block;
    }
  }
}

.ie9 {
  body.ptn-body_aside-on .ptn-aside {
    @media (min-width: @screen-lg-min) {
      display: block;
    }
  }

  body:not(.ptn-body_aside-on) {
    .ptn-aside:not(.toggled) {
      display: none;
    }
  }
}
