.ptn-aside {
  overflow-y: auto;
  position: fixed;
  top: 60px;
  width: 270px;
  height: ~'calc(100% - 60px)';
  background: @ptn-util__color_dark;
  z-index: @ptn__z-index_aside;

  .ptn-util__transition;
  .ptn-util__translate3d(-270px, 0, 0);

  &.ptn-util__widget_on {
    box-shadow: @ptn-util__box-shadow_center-2;

    .ptn-util__translate3d(0, 0, 0);

    @media (min-width: @ptn-util__screen_lg-min) {
      box-shadow: @ptn-util__box-shadow_center-1;
    }
  }

  .mCSB_container {
    > .ptn-list {
      > .ptn-list__list {
        > .ptn-list__item {
          > .ptn-list__link, > .ptn-list_sublist {
            border-bottom: 1px solid @ptn-util__color_darker;
          }
        }
      }
    }
  }

  .ptn-list_sublist {
    .ptn-list__item {
      > .ptn-list__link, > .ptn-list_sublist {
        border-bottom: 1px solid @ptn-util__color_dark;
      }

      &:last-child {
        > .ptn-list__link, > .ptn-list_sublist {
          border-bottom: none;
        }
      }
    }
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    top: 48px;
    height: ~'calc(100% - 48px)';
  }
}
