.ptn-content {
  padding: 30px 36px 144px;

  .ptn-util__transition(all, @ptn-util__duration_faster);

  @media (min-width: @ptn-util__screen_md-min) and (max-width: @ptn-util__screen_md-max) {
    padding: 24px 30px 144px;
  }

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_sm-max) {
    padding: 18px 24px 144px;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 12px 12px 132px;
  }
}

.ptn-content__container {
  margin: 0 auto;
  max-width: 1500px;
}
