.ptn-content {
  padding: @ptn__padding_content-large-screen;

  .ptn-util__transition(all, @ptn-util__animation-duration_resize);

  @media (max-width: @screen-xs-max) {
    padding: @ptn__padding_content-small-screen;
  }
}

.ptn-content__container {
  max-width: @ptn__width_content-container;
}
