.ptn-footer {
  position: absolute;
  bottom: 0;
  padding: 35px 0 15px;
  width: 100%;
  height: @footer-height;
  color: #a2a2a2;
  text-align: center;

  .transition(all);
  .transition-duration(300ms);
}

.ptn-footer__menu {
  .list-inline();

  display: block;
  margin: 10px 0;
  width: 100%;

  & > li > a {
    color: #a2a2a2;

    &:hover {
      color: #777;
    }
  }
}

@media (min-width: @screen-md-max) {
  body.ptn-body_aside-on {
    .ptn-footer {
      //padding-left: @aside-left-width;
    }
  }
}
