.ptn-header {
  position: fixed;
  padding: 0 18px;
  width: 100%;
  height: 60px;
  background: @ptn-util__color_darkest;
  box-shadow: @ptn-util__box-shadow_1;
  z-index: @ptn__z-index_header;

  .ptn__flex-container_horizontal(start, center);
  .ptn-util__transition;

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_md-max) {
    padding: 0 12px;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 0 9px;
    height: 48px;
  }
}

.ptn-header__aside-trigger {
  padding: 12px 15px;
  width: 48px;
  height: 36px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    margin: -12px 0 0 -15px;
    width: inherit;
    height: inherit;
    border-radius: 3px;
    background: @ptn-util__color_white_transparent;

    .ptn-util__transition;
    .ptn-util__scale(0);
  }

  &.ptn-util__trigger_on {
    &:before {
      .ptn-util__scale(1);
    }
  }
}

.ptn-header__logo {
  margin: 0 0 0 12px;

  .ptn-util__transition;

  @media (min-width: @ptn-util__screen_sm-min) and (max-width: @ptn-util__screen_md-max) {
    margin: 0 0 0 9px;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    margin: 0 0 0 6px;
  }
}

.ptn-header__logo-link {
  .ptn__flex-container_horizontal(start, center);

  > span {
    color: @ptn-util__color_lightest;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  > img {
    position: relative;
    top: -2px;
    margin: 0 0 0 3px;
    height: 24px;

    .ptn-util__pointer-events_none;
    .ptn-util__transition;

    @media (max-width: @ptn-util__screen_xs-max) {
      height: 22px;
    }
  }
}
