.ptn-header {
  position: fixed;
  padding: 0 18px;
  width: 100%;
  height: 60px;
  background: @ptn-util__color_darkest;
  box-shadow: @ptn-util__box-shadow_1;
  z-index: @ptn__z-index_header;

  .ptn__flex-container_horizontal(start, center);
}

.ptn-header__aside-trigger {
  padding: 12px 15px;
  width: 48px;
  height: 36px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    margin: -12px 0 0 -15px;
    width: inherit;
    height: inherit;
    border-radius: 3px;
    background: @ptn-util__color_white_transparent;

    .ptn-util__scale(0);
    .ptn-util__transition(all, @ptn-util__duration_faster);
  }

  &.ptn-util__trigger_on {
    &:before {
      .ptn-util__scale(1);
    }
  }
}

.ptn-header__logo {
  margin: 0 0 0 18px;
}

.ptn-header__logo-link {
  .ptn__flex-container_horizontal(start, center);

  > span {
    color: @ptn-util__color_lighter;
    font-size: 1.8rem;
    text-transform: uppercase;
  }

  > img {
    position: relative;
    top: -3px;
    margin: 0 0 0 3px;
    height: 24px;

    .ptn-util__pointer-events_none;
  }
}
