.ptn-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 18px;
  width: 100%;
  height: @ptn__height_header;
  background: @ptn__background_header;
  box-shadow: @ptn__box-shadow_header;
  z-index: @ptn__z-index_header;
}

.ptn-header__nav {
  position: relative;
  padding: 12px 0;
  height: 100%;

  > div {
    display: inline-block;
    float: left;
    height: @ptn__size_header-item;
  }
}

.ptn-header__aside-trigger {
  padding: 18px 15px;
  width: @ptn__size_header-item;

  .ptn-util__cursor_pointer;

  &:before {
    content: '';
    position: absolute;
    top: 12px;
    margin: 0 0 0 -15px;
    width: inherit;
    height: inherit;
    background: @ptn__background_highlight-white;
    border-radius: 50%;

    .transition(all);
    .transition-duration(@ptn__animation-duration_trigger);
    .scale(0);
  }

  &.open {
    &:before {
      .scale(1);
    }
  }
}

.ptn-header__logo {
  margin: 0 0 0 18px;
  line-height: @ptn__size_header-item;
}

.ptn-header__logo-link {
  display: inline-block;
  margin: 12px 0;
  height: @ptn__size_logo;
  line-height: @ptn__size_logo;
  color: @ptn-util__color_white !important;
  font-size: @ptn__font-size_logo;
  text-transform: uppercase;

  > span {
    display: inline-block;
    height: @ptn__size_logo;

    img {
      position: relative;
      top: -2px;
      width: @ptn__size_logo;
      height: @ptn__size_logo;
      vertical-align: bottom;
    }
  }
}

.ptn-header__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  @media (max-width: @screen-xs-max) {
    .dropdown-menu-lg {
      width: ~"calc(100% - 28px)" !important;
    }

    .dropdown-menu {
      right: 14px;
      top: 55px;
    }
  }
}

.ptn-header__menu-item {
  display: inline-block;
  margin: 6px 3px;
  width: 48px;
  height: 36px;

  .hover-pop(@ptn__background_highlight-white, @ptn-util__border-radius_2, @ptn__animation-duration_hover, @ptn-util__z-index_0);

  .dropdown-menu-lg {
    padding: 0;

    .lv-body {
      min-height: 295px;
      overflow-x: hidden;
    }
  }

  & > a {
    color: #fff;
    display: block;
    text-align: center;
    z-index: 1;
    position: relative;

    & > .tm-icon {
      font-size: 24px;
      line-height: 36px;
    }

    & > .tm-label {
      line-height: 35px;
      white-space: nowrap;
      padding: 0 10px;
      font-size: @font-size-base + 1;
      text-transform: uppercase;
    }

    & > .tmn-counts {
      position: absolute;
      font-style: normal;
      background: @m-red;
      padding: 1px 5px;
      border-radius: @ptn-util__border-radius_1;
      right: 7px;
      top: -3px;
      font-size: 10px;
      line-height: 15px;
    }
  }
}














#notifications {
  position: relative;

  .lv-body {
    overflow-x: hidden;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: ~"calc(100% - 70px)";
    background: url('@{path-root-assets}images/notifications.png') no-repeat center;
    .transition(all);
    .transition-duration(400ms);
    .scale-rotate(0, -180deg);
    .opacity(0);
    top: 42px;
  }

  &.empty:before {
    .scale-rotate(1, 0deg);
    .opacity(1);
  }
}

/* Full Screen */
:-webkit-full-screen [data-action="fullscreen"] {
  display: none;
}

:-moz-full-screen [data-action="fullscreen"] {
  display: none;
}

:-ms-fullscreen [data-action="fullscreen"] {
  display: none;
}

:full-screen [data-action="fullscreen"] {
  display: none;
}

:fullscreen [data-action="fullscreen"] {
  display: none;
}

#search-ctn {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: @header-height;
  background: #fff;
  .transition(all);
  .transition-duration(300ms);
  .opacity(0);
  z-index: 10;

  input[type="text"] {
    border: 0;
    height: 40px;
    padding: 0 10px 0 55px;
    font-size: 18px;
    border-radius: 2px;
    background-color: darken(@ace, 3%);
    width: 100%;
  }

  .ptn-header__search-btn {
    position: absolute;
    top: 15px;
    font-size: 23px;
    font-style: normal;
    width: 45px;
    text-align: center;
    border-radius: 2px 0 0 2px;
    cursor: pointer;
    left: 15px;
    height: 40px;
    padding-top: 9px;

    &:hover {
      background-color: darken(@ace, 8%);
    }

    @media (max-width: @screen-xs-max) {
      right: 7px;
    }
  }
}

.tsw-inner {
  position: relative;
  padding: 15px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}

&.search-toggled {
  #search-ctn {
    top: 0;
    .opacity(1);
  }
}
