.ptn-main {
  overflow-y: auto;
  position: relative;
  padding: 60px 0 0 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  .ptn-util__transition(all, @ptn-util__duration_faster);

  @media (max-width: @ptn-util__screen_xs-max) {
    padding: 48px 0 0 0;
  }
}

@media (min-width: @ptn-util__screen_lg-min) {
  .ptn-body_aside-on {
    .ptn-main {
      margin: 0 0 0 270px;
      width: ~'calc(100% - 270px)';
    }
  }
}
