.ptn-footer {
  position: absolute;
  bottom: 0;
  margin: 0 0 @ptn__margin_footer-bottom;
  width: 100%;
  color: @ptn__color_footer;
  text-align: center;

  .ptn-util__user-select_none;

  & > div {
    height: @ptn__height_footer-row;
    line-height: @ptn__height_footer-row;
  }
}

.ptn-footer__copyright {
  margin: 0;
}

.ptn-footer__menu-container {
  margin: @ptn__margin_footer-row-vertical 0 0;
}

.ptn-footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    display: inline-block;
    margin: 0 @ptn__margin_footer-menu-item-horizontal;

    & > a {
      color: @ptn__color_footer !important;

      .ptn-util__text-hover(@ptn__color_footer-highlighted);
    }
  }
}
