* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  &:before, &:after {
    box-sizing: border-box;
  }
}

*, *:focus, *:hover, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html, body {
  min-height: 100vh;
  color: @ptn__color_text;
  font-size: 10px;
}

html {
  overflow-x: ~"hidden\0/";
  -ms-overflow-style: none;
}

body {
  background: @ptn-util__color_darker;
  font-family: roboto, Helvetica, Arial, sans-serif;

  .ptn-util__user-select_none;
}

ol, ul {
  list-style: none;
}

a {
  color: @ptn__color_text;
  text-decoration: none;
}
