* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  &:before, &:after {
    box-sizing: border-box;
  }
}

*, *:focus, *:hover, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html, body {

}

html {
  overflow-x: ~'hidden\0/';
  -ms-overflow-style: none;
  font-family: roboto, Helvetica, Arial, sans-serif;
  font-size: 10px;
}

body {
  min-height: 100vh;
  color: @ptn-util__color_lighter;
  background-color: @ptn-util__color_darker;
  background-image: url('@{ptn-util__path_images-public}/patterns/pattern-4.png');

  .ptn-util__user-select_none;
}

ol, ul {
  list-style: none;
}

a {
  color: @ptn-util__color_lighter;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 12px;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  line-height: 18px;
  font-size: 1.2rem;
}
