/******************** BS grid system ********************/
@grid-gutter-width: @ptn-util__mardding_horizontal-1 * 2;
@container-tablet: 100%;
@container-desktop: 100%;

/******************** BS colors ********************/
@text-color: @ptn-util__color_gray-2;
