/******************** fonts | roboto ********************/
@roboto-font-path: '@{ptn-util__path_vendors-public}/roboto-fontface/fonts';

/******************** fonts | zmdi ********************/
@zmdi-font-path: '@{ptn-util__path_vendors-public}/material-design-iconic-font/dist/fonts';
@md-font-path: '@{ptn-util__path_vendors-public}/material-design-iconic-font/dist/fonts';
