/******************** fonts | roboto ********************/
@roboto-font-path: '@{ptn-util__path_vendors-public}/roboto-fontface/fonts';

/******************** fonts | zmdi ********************/
@zmdi-font-path: '@{ptn-util__path_vendors-public}/material-design-iconic-font/dist/fonts';
@md-font-path: '@{ptn-util__path_vendors-public}/material-design-iconic-font/dist/fonts';

/******************** october cms | strip loading indicator ********************/
.stripe-loading-indicator {
  top: 60px !important;
  height: 3px !important;

  .stripe, .stripe-loaded {
    height: 3px !important;
    background: @ptn-util__color_red !important;
    box-shadow: none !important;
  }

  @media (max-width: @ptn-util__screen_xs-max) {
    top: 48px !important;
  }
}

/******************** malihu custom scrollbar plugin ********************/
.mCSB_scrollTools {
  width: 5px;

  .mCSB_dragger_bar {
    border-radius: 0 !important;
  }

  &.mCSB_scrollTools_horizontal, &.mCSB_scrollTools_vertical {
    margin: 0 !important;
  }

  &.mCSB_scrollTools_horizontal {
    height: 10px;
  }
}

.mCS-minimal-dark {
  &.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: @ptn-util__color_light_transparent;
  }

  &.mCSB_scrollTools_onDrag .mCSB_dragger .mCSB_dragger_bar {
    background: @ptn-util__color_light_transparent !important;
  }
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}
