/******************** paths ********************/
@ptn-util__path_vendors: '../../../vendors';
@ptn-util__path_vendors-public: '/themes/ptn/assets/vendors';

/******************** screen ********************/
@ptn-util__screen_xs: 480px;
@ptn-util__screen_sm: 768px;
@ptn-util__screen_md: 992px;
@ptn-util__screen_lg: 1200px;

@ptn-util__screen_xs-min: @ptn-util__screen_xs;
@ptn-util__screen_sm-min: @ptn-util__screen_sm;
@ptn-util__screen_md-min: @ptn-util__screen_md;
@ptn-util__screen_lg-min: @ptn-util__screen_lg;

@ptn-util__screen_xs-max: @ptn-util__screen_sm-min - 1;
@ptn-util__screen_sm-max: @ptn-util__screen_md-min - 1;
@ptn-util__screen_md-max: (@ptn-util__screen_lg-min - 1);

/******************** color ********************/
@ptn-util__color_darkest: #0b0b0b;
@ptn-util__color_darker: #1d1d1d;
@ptn-util__color_dark: #2c2c2c;
@ptn-util__color_lightest: #fffef4;

@ptn-util__color_white_transparent: rgba(255, 255, 255, 0.14);

/******************** font-weight ********************/
@ptn__font-weight_500: 500;
@ptn__font-weight_700: 700;

/******************** box-shadow ********************/
@ptn-util__box-shadow_1: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
@ptn-util__box-shadow_2: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
@ptn-util__box-shadow_3: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
@ptn-util__box-shadow_4: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
@ptn-util__box-shadow_5: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);

@ptn-util__box-shadow_center-1: 0 0 6px 0 rgba(0, 0, 0, 0.3);
@ptn-util__box-shadow_center-2: 0 0 48px 1px rgba(0, 0, 0, 0.3);

/******************** z-index ********************/
@ptn__z-index_page-loader: 1000;
@ptn__z-index_header: 11;
@ptn__z-index_aside: 10;

/******************** duration ********************/
@ptn-util__duration_fastest: 100ms;
@ptn-util__duration_faster: 200ms;
@ptn-util__duration_fast: 300ms;
