/******************** paths ********************/

/******************** gutter ********************/
@ptn-util__gutter_smallest: 6px;
@ptn-util__gutter_smaller: 12px;
@ptn-util__gutter_small: 18px;
@ptn-util__gutter_medium: 24px;
@ptn-util__gutter_large: 30px;
@ptn-util__gutter_larger: 36px;
@ptn-util__gutter_largest: 48px;

/******************** size ********************/
@ptn__size_page-loader: 60px;

/******************** color ********************/
@ptn-util__color_selago: #e6dde4;
@ptn-util__color_pastel-blue: #afccca;
@ptn-util__color_gulf-stream: #77aeab;
@ptn-util__color_tonys-pink: #eba190;
@ptn-util__color_apricot: #f5d1ae;
@ptn-util__color_blanched-almond: #ffedcb;

/******************** z-index ********************/
@ptn__z-index_page-loader: 1000;
